.input {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: inherit;
  border: none;
  border-radius: 4px;
  background-color: var(--input-background);
  height: 67px;
  width: 960px;
  padding-left: 17px;
  &::placeholder {
    font-family: "Jost", sans-serif;
    color: var(--placeholder-color);
  }
}
